<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="info hub pfiffikus">
  <meta name="author" content="Marius Steger">
  <meta http-equiv="refresh" content="120" >
  <title> {{ title }} </title>

  <!-- Bootstrap -->
  <link href="static/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/css/style.css" rel="stylesheet">
  <link href="static/css/themify-icons.css" rel="stylesheet">
  <link href='static/css/dosis-font.css' rel='stylesheet' type='text/css'>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <style> .carousel-inner > .item > img{ width: 854px; height: 480px; } </style>

  <!-- Google Calender -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="static/js/calender.js"></script>
  <script src="https://apis.google.com/js/client.js?onload=loadCalendarApi"></script>

</head>
<body id="page-top" data-spy="scroll" data-target=".side-menu">

  <!-- Google Calender Authorization -->
  <div id="authorize-div" style="display: none">
    <span>Authorize access to Google Calendar API</span>
    <!--Button for the user to click to initiate auth sequence -->
    <button id="authorize-button" onclick="handleAuthClick(event)">
      Authorize
    </button>
  </div>

  <div class="container-fluid" style="background: #9d9d9d">
    <!-- Start: slideshow and timetable -->
    <div class="row hero-header content-ct" id="slideshow">
      <div class="col-lg-7 img-rounded" style="color:#ffffff; width: 854px; height: 480px; margin-right: 10px;">
        <!-- background: #a8b565;
         <h1> Sildeshow </h1>-->

          <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="10000"> <!-- 10000-->
            <div class="carousel-inner">
              {% if slideshow  %}
                {% for i in range(pictures|length) %}
                 {% if i == 0  %}
                   <div class="item active">
                     <img src="{{ pictures[i] }}" class="img-rounded" alt="{{ i }}">
                   </div>
                  {% else  %}
                    <div class="item img-rounded">
                     <img src="{{ pictures[i] }}" class="img-rounded" alt="{{ i }}">
                   </div>
                  {% endif %}
                {% endfor %}

              {% else %}
                <h1> Slideshow not working </h1>
                <div class="item active img-rounded">
                  <img src="static/img/placeholder.jpg" alt="placeholde">
                </div>
              {% endif %}
            </div>
          </div>
      </div>

      <div class="col-lg-7 img-rounded" style="color:#ffffff; width: 854px; height: 480px"> <!-- ; background: #74a4b5"> -->

        <table class="table table-bordered img-rounded" id="dynamictable" style="font-size: 25px; color:#ffffff; width: 854px; max-height: 480px; background: #74a4b5;">
            <tr>
              <th colspan="2" style="font-size: 35px; text-align: center">Anstehende Kurse:</th>
            </tr>
        </table>

         <!-- <pre id="output" style="font-size: 20px; color:#ffffff; width: 854px; max-height: 480px; background: #74a4b5;"></pre> -->
         <pre id="output" style="display: none; font-size: 20px; color:#ffffff; width: 854px; max-height: 480px; background: #74a4b5;"></pre>

      </div>
    </div>

  </div>
  <!-- End: slideshow -->
  <!-- Start: "plugins" -->
  <div class="container-fluid" style="padding-top: 0px">
    <div class="row hero-header content-ct" style="min-height: 0px; background: #8cb595" id="wetter_zeit">
      <div class="col-md-6 feature-nopad" style="color:#ffffff; width: 47%; margin-right: 1%; margin-left: 1%; margin-bottom: 10px;"> <!--background: aquamarine"> -->

        <div class="col-md-6 img-rounded" style="color:#404b54; margin: 0 auto; width: 100%; height: 60px; background: #e8e8e8; margin-bottom: 25px;">
          <h3 style="text-align: left"> <b>Info:</b> {{ infoMessage }} </h3>
        </div>

        <a class="weatherwidget-io img-rounded" style="margin: 10px auto; width: 80%; height: 240px;" href="https://forecast7.com/de/49d308d70/wiesloch/" data-label_1="WIESLOCH" data-label_2="Wetterprognose" data-font="Helvetica" data-theme="weather_one" >WIESLOCH WEATHER</a>
        <script>
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
        </script>
      </div>

        <div class="col-md-5 feature img-rounded" style="color:#404b54; background: #e8e8e8; margin-left: 4%">
          <!-- width: 600px; height: 240px; -->
          <span class="ti-time" style="color:#404b54;"></span>
          <h2> Aktuelle Uhrzeit: </h2>
          <div class="clock">
              <span style="color:#404b54" id="hr">00</span>
              <span style="color:#404b54"> : </span>
              <span style="color:#404b54" id="min">00</span>
              <span style="color:#404b54"> : </span>
              <span style="color:#404b54" id="sec">00</span>
          </div>
        </div>

    </div>
    <!-- End: "plugins" -->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="static/js/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/bootstrap.js"></script>
  <script src="static/js/jquery.easing.min.js"></script>
  <script src="static/js/scrolling-nav.js"></script>
  <script src="static/js/validator.js"></script>
  <script src="static/js/clock.js"></script>

</body>
</html>